body{
    background-color: hsl(47, 88%, 63%);
    font-family: Figtree;
}
main{
    display: flex;
    align-items: center;    
    justify-content: center;
    height: 100vh;
    min-height: 36rem;
}
article{
    background-color: white;
    height: 26rem;
    width: 17rem;
    box-shadow: 0.5rem 0.5rem black;
    border-radius: 0.75rem;
    border: 0.05rem solid black;
    
}
figure{
    display: flex;
    align-items: center;    
    justify-content: center;
}
.article{
    width: 15rem;
    border-radius: 0.75rem;
    
}
.Published{
    font-size: 0.7rem;
    font-weight: 500;
    
}
section{
    
    margin-left: 1rem;
}
h1{
    background-color: hsl(47, 88%, 63%);
    height: 1.2rem;
    width: 4.2rem;
    border-radius: 0.25rem;
    text-align: center;
    padding-top: 0.3rem;
    font-size: 0.7rem;
    font-weight: 800;
    
}

.text{
    color: grey;
    font-size: 0.7rem; 
    line-height: 1.1rem;
}
h2{
    font-size: 1rem;
    font-weight: 800;
}
h2:hover{
    color: hsl(47, 88%, 63%);
}
footer{
    
    font-size: 1rem;
    font-weight: 800;
    display: flex;
    margin-top: 2.2rem;
    
}
.greg{
    height: 2rem;
    width: 2rem;
}
.name{
    padding-top: 0.5rem;
    margin-left: 0.5rem;
}


